* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

header {
  background: #023d6d;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

h5 {
  color: #023d6d;
}
h5 > span{
  color: brown;
  font-weight: bold;
}
#simple-intrest{
  margin-top: 15px;
  padding: 15px 10px 15px 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
